@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    border: none;
    font-family: 'VT323', monospace;
}
